#array{
    text-align: center;
}

.container{
    width: 80%;
    margin: 50px;
    padding: 10px 2px;
    border: 1px solid;
}

.arrayelement{
    display: inline-block;
    margin: 10px 2px;
    width: 5px;
    font-size: 0px;
    background-color: rgba(66, 134, 244, 0.8);
}


@media (max-width: 500px){
    .body{
        margin: auto;
        clear: both;
        width:100%;
    }
    .container {
        clear: both;
        width:100%;
    }
    .btn {
        width:40%;
        margin-left: 95px;
    }
}
